.headliner {
    width: 1170px;
    height: 100px;
    background-color: #0455bf;
    border-radius: 0px;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    margin-bottom: 30px;
  }
/* CSS to make all cards and images smaller */
.card {
    
    width: 260px; /* Set width of the card */
    margin-bottom: 20px; /* Adjust margin between cards */
    height: 400px;
  }
  
  .small-card-img {
    width: 100%; /* Make images within the cards fill the container width */
    height: 150px; /* Set a fixed height for the images */
    object-fit: cover; /* Maintain aspect ratio and cover the entire space */
  }
  
  