.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  align-items: center; /*center*/
}
.product-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Three boxes per row */
  gap: 20px; /* Space between boxes */
  justify-items: center; /* Center align items */
}


.product-box {
  width: 250px;
  height: 350px;
  background-color: #6BA5F2;
  border-radius: 20px;
  padding: 20px;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-details {
  /*flex: 1;*/
  position: relative;
  height: 100%;
}

.product-details .description {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 50px;
  transition: max-height 0.3s ease;
}

.see-more {
  cursor: pointer;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5%;
  background-color: #2f81fc;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  
  /*
  cursor: pointer;
  color: #fff;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 5%;
  background-color: #2f81fc;
  transition: background-color 0.3s ease;
  */
}

.see-more:hover {
  background-color: #0456c1; /* Change to the desired color */
  transition: background-color 0.3s ease;
}


.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 40px;
  /*nuevo*/
  position: relative;
}

.description.expanded {
  
  height: auto;
  white-space: normal;
  overflow: visible;
}

.headliner {
  width: 1170px;
  height: 100px;
  background-color: #0455bf;
  border-radius: 0px;
  padding: 20px;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}