@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #685cfe;
  --main-transition: 0.5s all ease-in-out;
}
body {
  background-color: #f0f0f0;
}
::selection {
  color: white;
  background: var(--main-color);
}
/* End Global Rules */
/* Start Sidebar */
.sidebar {
  width: 200px;
  background-color: rgb(245, 245, 245);
  padding: 20px;
  position: fixed;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  transition: var(--main-transition);
}

.sidebar .dots {
  width: 60px;
}
.sidebar .profile {
  width: 55px;
  height: 55px;
  border-radius: 15px;
  color: #fff;
  background-color: var(--main-color);
  display: grid;
  place-items: center;
  font-size: 25px;
  margin: 10px 0;
}
.sidebar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidebar ul {
  padding-bottom: 0px;
  list-style: none;
}
.sidebar ul span {
  color: #8f99cc;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  display: block;
  padding-bottom: 10px;
}
.sidebar ul li {
  padding-left: 10px;
  transition: var(--main-transition);
}

.sidebar ul li a {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  font-size: 16px;
  width: 300px;
  color: #555e8f;
  font-weight: 500;
  text-decoration: none;
  width: 100%;
}

.sidebar ul li a:hover {
  background-color: #ebf0fe;
  color: var(--main-color);
}
.sidebar ul li a ion-icon {
  font-size: 22px;
}
.sidebar ul li.noti a ion-icon {
  position: relative;
}
.sidebar ul li.noti a ion-icon::before {
  content: "";
  position: absolute;
  right: 0;
  background-color: #3761ee;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.sidebar ul li.likes a ion-icon {
  position: relative;
}
.sidebar ul li.likes a ion-icon::before {
  content: "";
  position: absolute;
  right: 0;
  background-color: #e45447;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.sidebar ul li a p {
  visibility: visible;
  opacity: 1;
}


/* End Sidebar */


/*main content*/

.main-content {
  margin-left: 210px; /* Ajusta esto según el ancho de tu sidebar */
}

/* chat */
.sideChat{
  display: flex;
  position:fixed;
  overflow: scroll;
  width: 20%;
}
.sideChat h6{
  font-weight: bold; 
  color: gray;
}
.profilePhoto{
  border-radius: 100px;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto; 
}
.usuario{
  margin-top: 20px; 
  margin-bottom: 20px;
}
.usuario p{
  text-align: center;
  font-size: large;
}
.searchBar{
  border-radius: 10px;
  height: 40px;
  width: 100%;
  background-color: rgb(231, 231, 231);
  margin-bottom: 30px;
  border: none;
}
.contactArea{
 display: flex; 
 padding-top: 20px; 
 padding-bottom: 20px;
 border-radius: 20px;
 height: 100%;
 width: 100%;
 background-color:  rgb(231, 231, 231);
 background: none;
 border: none;
}
.contactArea:hover{
  background-color: rgb(231, 231, 231);
}

.contactArea.hide {
  display: none; /* Hide contacts that don't match the search term */
}

.contactArea h6{
  color: black; 
}
.imagenContacto{
  border-radius: 100px;
  width: 50px;
  height: 50px;

}
.fechaContacto{
  text-align: left;
} 
.ulimoMensaje{
  font-size: small;
  color: gray;
  white-space:pre ;
}

.chatArea{
  position:fixed;
  justify-content: space-between;
  background-color: rgb(206, 245, 255);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.chats{
  margin-top: 5%;
  margin-left: 2%;
  overflow: scroll;
  width: 100%;
  height: 70%;
}
.sendMessage{
  background-color: rgb(245, 245, 245);
  border: none; 
  border-radius: 40px;
  position: fixed; 
  bottom: 0.5;
  width: 50%;
  height: 50px;
  margin-left: 20vh; 
  bottom: 0;
  margin-bottom: 3vh;
}

.NombreChat{
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 400;
  position: fixed; 
}
.MensajeEmisor{
  padding: 15px;
  background-color: rgb(223, 255, 220);
  width:fit-content;
  border-radius: 23px;
  text-align: right;
  margin-left: 800px;
  margin-bottom: 20px;
}

.MensajeReceptor{
  padding: 15px;
  background-color:rgb(238, 238, 238);
  width:fit-content;
  border-radius: 23px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

#medicalProcess{
  display:none;
}
#notifications
{
  display: none;
}
#clients{
  display:none;
}
#chat{
  display:none; 
}

/* clients */

#clients{
  overflow-x:hidden;
  overflow-y:scroll;
}
#clientes{
  display: flex;
}
.clientName{
  text-align: center;
}
.clientImage{
  border-radius: 100px; 
  width: 100px;
  height: 100px;
}
.BloqueCliente{
    margin: 30px;
}

/*----------------------------Notificacion--------------------------------*/
.notificacionTituloDescripcion{
  display: flex; 

}
.divHoraNotificacion{
 margin-left: 5px;
}
.divNotificacion{
  height: fit-content;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
}
.divNotificacion:hover{
  background-color:rgb(238, 238, 238);
}
.ponitNotificacion{
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background-color: blue;
  
}
.titleNotification{ 
  font-weight: bold;
  margin-left: 20px;

}
.timeNotification{
  color: gray; 
  font-size: small;
}
.descriptionNotification{
  color: gray; 
  font-size: small;
  margin-left: 20px;
} 
.lineaNot{
  width: 100%;
}
.borrar{
  background-color:red;
  padding: 10px;
  border: none;
  border-radius: 75px;
}

/*-----------------home page------------------------*/
#homeContent{
  overflow: hidden;
  height: 100%;
  margin: 0;
  border-bottom: 40px solid #685cfe;
}

.textoHospital{
  border-left: black 1px solid;
}
.textoH{
  padding-left: 20px;
  padding-bottom: -100px;
}
.textoHU{
  padding-left: 20px;
  padding-bottom: 30px;
}
.imgMaquina{
  width: 350px;
  height: 200px;
  display: block;
  margin: 0 50px;
  margin-bottom: 20px;

}
.imgPaciente{
  width: 470px;
  height: 350px;
  display: block; 
  margin-top: 20%;
}